In [22]:
import pickle
import numpy as np
import pandas as pd

In [3]:
enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "rb"))

In [4]:
enron_data.keys()

dict_keys(['METTS MARK', 'BAXTER JOHN C', 'ELLIOTT STEVEN', 'CORDES WILLIAM R', 'HANNON KEVIN P', 'MORDAUNT KRISTINA M', 'MEYER ROCKFORD G', 'MCMAHON JEFFREY', 'HAEDICKE MARK E', 'PIPER GREGORY F', 'HUMPHREY GENE E', 'NOLES JAMES L', 'BLACHMAN JEREMY M', 'SUNDE MARTIN', 'GIBBS DANA R', 'LOWRY CHARLES P', 'COLWELL WESLEY', 'MULLER MARK S', 'JACKSON CHARLENE R', 'WESTFAHL RICHARD K', 'WALTERS GARETH W', 'WALLS JR ROBERT H', 'KITCHEN LOUISE', 'CHAN RONNIE', 'BELFER ROBERT', 'SHANKMAN JEFFREY A', 'WODRASKA JOHN', 'BERGSIEKER RICHARD P', 'URQUHART JOHN A', 'BIBI PHILIPPE A', 'RIEKER PAULA H', 'WHALEY DAVID A', 'BECK SALLY W', 'HAUG DAVID L', 'ECHOLS JOHN B', 'MENDELSOHN JOHN', 'HICKERSON GARY J', 'CLINE KENNETH W', 'LEWIS RICHARD', 'HAYES ROBERT E', 'KOPPER MICHAEL J', 'LEFF DANIEL P', 'LAVORATO JOHN J', 'BERBERIAN DAVID', 'DETMERING TIMOTHY J', 'WAKEHAM JOHN', 'POWERS WILLIAM', 'GOLD JOSEPH', 'BANNANTINE JAMES M', 'DUNCAN JOHN H', 'SHAPIRO RICHARD S', 'SHERRIFF JOHN R', 'SHELBY REX', 'LEMAISTRE CHARLES', 'DEFFNER JOSEPH M', 'KISHKILL JOSEPH G', 'WHALLEY LAWRENCE G', 'MCCONNELL MICHAEL S', 'PIRO JIM', 'DELAINEY DAVID W', 'SULLIVAN-SHAKLOVITZ COLLEEN', 'WROBEL BRUCE', 'LINDHOLM TOD A', 'MEYER JEROME J', 'LAY KENNETH L', 'BUTTS ROBERT H', 'OLSON CINDY K', 'MCDONALD REBECCA', 'CUMBERLAND MICHAEL S', 'GAHN ROBERT S', 'BADUM JAMES P', 'HERMANN ROBERT J', 'FALLON JAMES B', 'GATHMANN WILLIAM D', 'HORTON STANLEY C', 'BOWEN JR RAYMOND M', 'GILLIS JOHN', 'FITZGERALD JAY L', 'MORAN MICHAEL P', 'REDMOND BRIAN L', 'BAZELIDES PHILIP J', 'BELDEN TIMOTHY N', 'DIMICHELE RICHARD G', 'DURAN WILLIAM D', 'THORN TERENCE H', 'FASTOW ANDREW S', 'FOY JOE', 'CALGER CHRISTOPHER F', 'RICE KENNETH D', 'KAMINSKI WINCENTY J', 'LOCKHART EUGENE E', 'COX DAVID', 'OVERDYKE JR JERE C', 'PEREIRA PAULO V. FERRAZ', 'STABLER FRANK', 'SKILLING JEFFREY K', 'BLAKE JR. NORMAN P', 'SHERRICK JEFFREY B', 'PRENTICE JAMES', 'GRAY RODNEY', 'THE TRAVEL AGENCY IN THE PARK', 'UMANOFF ADAM S', 'KEAN STEVEN J', 'TOTAL', 'FOWLER PEGGY', 'WASAFF GEORGE', 'WHITE JR THOMAS E', 'CHRISTODOULOU DIOMEDES', 'ALLEN PHILLIP K', 'SHARP VICTORIA T', 'JAEDICKE ROBERT', 'WINOKUR JR. HERBERT S', 'BROWN MICHAEL', 'MCCLELLAN GEORGE', 'HUGHES JAMES A', 'REYNOLDS LAWRENCE', 'PICKERING MARK R', 'BHATNAGAR SANJAY', 'CARTER REBECCA C', 'BUCHANAN HAROLD G', 'YEAP SOON', 'MURRAY JULIA H', 'GARLAND C KEVIN', 'DODSON KEITH', 'YEAGER F SCOTT', 'HIRKO JOSEPH', 'DIETRICH JANET R', 'DERRICK JR. JAMES V', 'FREVERT MARK A', 'PAI LOU L', 'HAYSLETT RODERICK J', 'BAY FRANKLIN R', 'MCCARTY DANNY J', 'FUGH JOHN L', 'SCRIMSHAW MATTHEW', 'KOENIG MARK E', 'SAVAGE FRANK', 'IZZO LAWRENCE L', 'TILNEY ELIZABETH A', 'MARTIN AMANDA K', 'BUY RICHARD B', 'GRAMM WENDY L', 'CAUSEY RICHARD A', 'TAYLOR MITCHELL S', 'DONAHUE JR JEFFREY M', 'GLISAN JR BEN F'])

In [5]:
# number of people in dataset
len(enron_data)

146

In [8]:
# features per person in dataset
np.array([len(v) for k,v in enron_data.items()])

array([21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21])

In [11]:
# persons of interest in enron_data file
np.array([v['poi'] for k,v in enron_data.items()]).sum()

18

In [18]:
# poi in ../final_project/poi_names.txt file
with open('../final_project/poi_names.txt','r') as f:
    lines = f.readlines()

In [21]:
lines

['http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm\n',
 '\n',
 '(y) Lay, Kenneth\n',
 '(y) Skilling, Jeffrey\n',
 '(n) Howard, Kevin\n',
 '(n) Krautz, Michael\n',
 '(n) Yeager, Scott\n',
 '(n) Hirko, Joseph\n',
 '(n) Shelby, Rex\n',
 '(n) Bermingham, David\n',
 '(n) Darby, Giles\n',
 '(n) Mulgrew, Gary\n',
 '(n) Bayley, Daniel\n',
 '(n) Brown, James\n',
 '(n) Furst, Robert\n',
 '(n) Fuhs, William\n',
 '(n) Causey, Richard\n',
 '(n) Calger, Christopher\n',
 '(n) DeSpain, Timothy\n',
 '(n) Hannon, Kevin\n',
 '(n) Koenig, Mark\n',
 '(y) Forney, John\n',
 '(n) Rice, Kenneth\n',
 '(n) Rieker, Paula\n',
 '(n) Fastow, Lea\n',
 '(n) Fastow, Andrew\n',
 '(y) Delainey, David\n',
 '(n) Glisan, Ben\n',
 '(n) Richter, Jeffrey\n',
 '(n) Lawyer, Larry\n',
 '(n) Belden, Timothy\n',
 '(n) Kopper, Michael\n',
 '(n) Duncan, David\n',
 '(n) Bowen, Raymond\n',
 '(n) Colwell, Wesley\n',
 '(n) Boyle, Dan\n',
 '(n) Loehr, Christopher\n']

In [20]:
len([i for i in lines if '(' in i])

35

In [38]:
# reviewing data
df = pd.DataFrame.from_dict(enron_data, orient='index')

In [39]:
df.reset_index(inplace=True)
df.rename(columns={'index':'full_name'}, inplace=True)

In [41]:
df.head()

,full_name,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,...,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
0,ALLEN PHILLIP K,201955,2902,2869717,4484442,NaN,4175000,phillip.allen@enron.com,-126027,-3081055,...,47,1729541,2195,152,65,False,304805,1407,126027,NaN
1,BADUM JAMES P,NaN,NaN,178980,182466,NaN,NaN,NaN,NaN,NaN,...,NaN,257817,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
2,BANNANTINE JAMES M,477,566,NaN,916197,NaN,NaN,james.bannantine@enron.com,-560222,-5104,...,39,4046157,29,864523,0,False,NaN,465,1757552,NaN
3,BAXTER JOHN C,267102,NaN,1295738,5634343,NaN,1200000,NaN,NaN,-1386055,...,NaN,6680544,NaN,2660303,NaN,False,1586055,NaN,3942714,NaN
4,BAY FRANKLIN R,239671,NaN,260455,827696,NaN,400000,frank.bay@enron.com,-82782,-201641,...,NaN,NaN,NaN,69,NaN,False,NaN,NaN,145796,NaN

In [42]:
df.columns

Index(['full_name', 'salary', 'to_messages', 'deferral_payments',
       'total_payments', 'loan_advances', 'bonus', 'email_address',
       'restricted_stock_deferred', 'deferred_income', 'total_stock_value',
       'expenses', 'from_poi_to_this_person', 'exercised_stock_options',
       'from_messages', 'other', 'from_this_person_to_poi', 'poi',
       'long_term_incentive', 'shared_receipt_with_poi', 'restricted_stock',
       'director_fees'],
      dtype='object')

In [50]:
df[df.full_name.str.contains('SKILLING')].exercised_stock_options

122    19250000
Name: exercised_stock_options, dtype: object